/*FUENTES*/
@font-face {
    font-family: forresta;
    src: url(../fonts/forresta/Forresta-Regular-PersonalUse.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MADEOkine;
    src: url(../fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Medium.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Mistycgate;
    src: url(../fonts/mystic_gate/Mystic\ Gate.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: vakoMAVE;
    src: url(../fonts/vako_mave/Vako-Mave.ttf);
    font-style: normal;
    font-weight: normal;
}
