/* fuentes */
@font-face {
    font-family: forresta;
    src: url(./fonts/forresta/Forresta-Regular-PersonalUse.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: MADEOkine;
    src: url(./fonts/made_okine_sans/MADEOkineSansPERSONALUSE-Medium.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Mistycgate;
    src: url(./fonts/mystic_gate/Mystic\ Gate.ttf);
    font-style: normal;
  font-weight: 700;
}
@font-face {
    font-family: vakoMAVE;
    src: url(./fonts/vako_mave/Vako-Mave.ttf);
    font-style: normal;
  font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: MADEOkine;
    font-size: 1.2rem;
    line-height: 1.6em;
    color: #111;
    display: flex;
    flex-direction: column;
    
}
/* HEADER */
.navbar {
  background-color: #111;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 5;
}
.navbar .logo {
  display: flex;
  font-family: forresta;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 1.5em;
  grid-column: 2 / 4;
  color: #fff;
 }
.navbar .logo:hover {
  font-size: 1.8em;
  color: #ff206e;
}
.navbar .menu {
  grid-column: 4 / 10;
  display: flex;
  justify-content: space-around;
 }
.navbar .menu li {
  list-style: none;
}    
.navbar .menu a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {

  .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #111;
    grid-column: 1 / 10;
  }
  .navbar .menu {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #111;
    margin-left: -10em;
    flex-wrap: wrap;
    grid-column: 1 / 10;
  }
  
}   
/* MAIN INICIO */
main {
  margin-bottom: 1.6em;
}

.mayor-exito {
  text-align: center;
}
.mayor-exito h2 {
  font-family: Mistycgate;
}
main h3 {
  font-family: Mistycgate;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
}

/* MAIN INTEGRANTES */
.main__integrantes {
  margin-bottom: 1.6em;
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 12rem;
}
.imagen-principal {
  width: 100%;
  height: 20em;
}
.info__integrantes {
  text-align: center;
}
main div img {
  width: 100%;
  margin-top: 2em;
}
main div h3 {
  margin-top: 0;
  font-family: vakoMAVE;
}
main h2 {
  text-align: center;
}
/* MAIN DISCOGRAFIA */
main table img {
  height: 20%;
  width: 20%;
}

/* MAIN CONTACTO */
.header__contacto {
  background: #111;
  color: white;
  padding: 2rem 0;

  left: 0;
  top: 0;
  width: 100%;
}


.header__contacto a {
  color: white;
  text-decoration: none;
}
.logo__contacto-menu__contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__contacto {
  letter-spacing: 8px;
  font-size: 1.4em;
  font-family: forresta;
}
.menu__contacto ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__contacto ul li {
  display: inline-block;
  width: 15%;
}
.menu__contacto ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
  .menu__contacto ul li a:hover {
    background: #4a4a4a;
  }
#contactanos {
  margin: 0;
  padding: 5em 0;
  transition: 0.5s;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  font-family: vakoMAVE;
  color: white;
}

.contact{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding: 5em 0;
}
.contact__image-wrapper {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__image{
  width: 100%;
  height: 80%;
  margin-left: 5%;
}
.contact__right-side{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}
.contact__title{
  font-size: 100px;
  font-family: forresta; 
  color: white;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.contact__form-wrapper, .contact__input-line{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.contact__input-line{
  margin-bottom: 45px;
}
.contact__label{
  font-size: 18px;
  font-weight: 600;
}
.contact__input{
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #e8e8e8;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: white;
  background-color: transparent;
}
.contact__input--textarea{
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #e8e8e8;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: white;
  background-color: transparent;
  resize: none;
}
.contact__submit-button{
  padding: 18px 55px;
  background-color: #ffffff;
  border-radius: 50px;
  font-family: vakoMAVE;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.contact__submit-button:hover{
  background-color: #565656;
  color: white;
}
.contact__submit-inicio{
  padding: 18px 55px;
  background-color: #ffffff;
  border-radius: 50px;
  font-family: vakoMAVE;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
.contact__submit-inicio:hover{
  background-color: #565656;
  color: white;
}
/* MAIN HISTORIA */
iframe {
  max-width: 100%;
  margin: 2em;
}
.main__historia p {
  margin: 2em;
}
.titulo__historia {
  text-align: center;
  background: #111;
  color: #fff;
  font-family: vakoMAVE;
  padding: 10px;
}
.main__historia {
  text-align: center;
}
hr {
  height: 10px;
  background-color: black;
}
/* PIE DE PAGINA */
 footer {
  text-align: center;
  padding: 1em 0;
  background: #111;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

footer svg {
  background: #fff;
  color: #000;
  padding: 8px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}  
